section.about-me { 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    background-color: var(--background-color);
}
h2 {
    font-size: 2rem;
    text-align: center;
}

@media (min-width: 768px) {
    section.about-me {
    max-width: 1200px;
    min-height: 500px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--background-color);

}
    h2 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.5rem;
    }
}