main {
    margin: 1rem;
}
.contact-form {
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--background-color);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.contact-form h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.contact-form label {
  display: block;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  font-weight: bold;
}
.contact-form input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.2rem;
    border: 1px solid var(--primary-color);
    color: var(--secondary-text-color);
    border-radius: 4px;
    font-size: 1rem;
}
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.2rem 0;
    border: 1px solid var(--primary-color);
    color: var(--secondary-text-color);
    border-radius: 4px;
    font-size: 1rem;
}
.contact-form input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    font-weight: bold;
}

@media (min-width: 768px) {
    .contact-form {
        max-width: 800px;
    }
    .contact-form h2 {
        font-size: 2.5rem;
    }
    .contact-form input,
    .contact-form textarea {
        font-size: 1.2rem;
    }
    .contact-form input[type="submit"] {
        font-size: 1.2rem;
        padding: 0.7rem;
    }
    .contact-form input[type="submit"]:hover {
        background-color: var(--secondary-background-color);
        color: var(--secondary-color);
    }
}

