* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #093824;
    --secondary-color: #fff3f3;
    --background-color: #EAEAEA;
    --secondary-background-color: #3a1d1d;
    --text-color: #343330;
    --secondary-text-color: #212121;
    --link-color: #093824;
    --font-family: 'Arial, sans-serif';
}
 
body {
    font-family: var(--font-family); 
    background-color: var(--secondary-background-color);
    color: var(--text-color);
}
nav {
    background-color: var(--background-color);
    padding: 1rem;
 a {
    color: var(--secondary-text-color);
    text-decoration: none;
    margin-right: 1rem;
}
 li {
    display: inline;
    list-style: none;
}
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
}
main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--secondary-background-color);

}
section {
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section a {
    margin-bottom: 0.5rem;
    color: var(--link-color);
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;

}